<div class="container">
        <h1>Gerênciador de Tarefas</h1>
    
    Bem-vindo! Por favor faça login para continuar.
    <br>
    <br>
    <form action="Verify" method="post">
        <label class="text" for="name">Login:</label>
        <input type="text" id="name" name="USU_NOME"><br><br>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="USU_SENHA"><br><br>
        <input class="btn btn-primary" type="submit" value="Entrar">
    </form>
</div>

